<!DOCTYPE HTML >
<html lang="en-us">
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap.css">

    <link rel="stylesheet" href="{{STATIC_URL}}/jquery/ui-lightness/jquery-ui-1.10.2.custom.css" />
    <script src="{{STATIC_URL}}/jquery/jquery-1.9.1.js"></script>
    <script src="{{STATIC_URL}}/jquery/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="{{STATIC_URL}}/jquery/multifile.js"></script>
    <script src="{{STATIC_URL}}/jquery/jquery.uploadify.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}/css/styles.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/jquery/uploadify.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="navbar ">
        <div class="navbar-inner ">
            <div class="container ">
                <div class="span4" >
                    <a class="brand">PROJECTS</a>
                </div>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}<li><a href="/logout/">({{user.username}})Logout</a></li>{% else %}<li class=""><a href="/register/">Register</a></li><li><a href="/">Login</a></li>{% endif %}
                </ul>
                </li>
                </ul>
                <ul class="nav pull-right">
                    <!-- Admin menu here -->
                    <li class=""><a href="/">Projects</a></li>
                    <li class=""><a href="/tasks/">Tasks</a></li>
                    <!--<li class=""><a href="/">Users</a></li>
                    <li class=""><a href="/register/">Register</a></li>-->
                </ul>

            </div>
        </div>
    </div>


<div class='container'>
    {% block content %}{% endblock %}
    </div>
</div>
<footer>
  Projects
</footer>
</body>
</html>