{% extends 'base.html' %}
{% block title %}
    <title >All projects</title>
{% endblock title %}
{% block extra_head %}


{% endblock extra_head %}
{% block content %}

      <div class="container">

        <div id="notifications">
        </div>

        <ul class="breadcrumb">
            <li class='active'>Projects</li>

        </ul>

        <div class="row">
            <div class="span12 ">


                <div id="simple-search-form">
                    <form  action="/projectsearch/" class="well form-search upform" id="shipment_search" ><div style="margin:0;padding:0;display:inline"></div>

                            <input class="input-medium search-query" id='project_search' size="30" style="width:220px;" type="text" name="query"/>
                            <!--<button type="submit" class="btn" >Search</button> &nbsp;&nbsp;-->

                        <span>&nbsp;&nbsp;</span>
                        <a href="/add_project/" class="btn btn-primary pull-right">Add Project</a>


                    </form>


                </div>
                <script>
                    $(document).ready(function(){
                        $( "#project_search" ).autocomplete({
                            source: "{% url 'searchproject' %}",
                            select: function( event, ui ) {
                    window.location.href = "/detail/"+ui.item.id
                            },
                            });
                    })
                </script>
                <br/><br/>
        {% if projects %}
                <table class="table table-striped">
                    <tr>
                        <th>Project Name</th>
                        <th>Environment</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

        {% for project in projects %}
                    <tr>
                        <td>  {{ project.project_name }}  </td>
                        <td>  {{ project.environment }} </td>
                        <td style="width:100px;"><a href="/detail/{{ project.id }}" class="btn btn-mini">Details</a></td>
                        <td> <a href="/edit/{{ project.id }}" class="btn btn-mini btn-info" rel="nofollow">Edit</a></td>
                        <td> <a href="/projecttasks/{{ project.id }}" class="btn btn-mini btn-info" rel="nofollow">Tasks</a></td>
                        <td> <a href="/delete/{{ project.id }}" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> </td>

                    </tr>
         {% endfor %}
      {% else %}
                    <div class="alert alert-block alert-info">

                       No projects yet, add using button above
                    </div>
       {% endif %}
                </table>

                <br />


                <style>
                    .ship_status li {list-style: none;float: left;padding:0px 0px 0px 65px;font-weight:bold;font-size:13px;}
                    .ship_status li a{color:#333;}
                </style>



            </div>
        </div>
    </div>


{% endblock content %}