{% extends 'base.html' %}
{% load filetransfers %}
{% block title %}
    <title>Task {{ task.id }}</title>
{% endblock title %}

{% block content %}
  <script>
    function delete_file_confirm(id){
    x=confirm("Are you sure, You want to delete this file")
   
    if (x==true){
   
 
   window.location.href = "/imagedelete/"+id
   }
    }
    </script>
    <div class="container " >
        <p class='lead text-success'>Details of {{task.project}}/{{ task.name }} </p>

        <div class="form-actions">
	    <p>Project Name:   {{ task.project }}</p>
            <p>Task Name:   {{ task.name }}</p>

            <p>Description: {{ task.description}}</p>
	    <p>Attachments: </p>
	    {% if attachments%}
		<div style=''>
		{% for attachment in attachments%}
		    <div class='display-block' style='width:250px;float:left; margin-left:20px'>
		    {% if 'application/pdf' in attachment.filetype %}
		    <a href="{{MEDIA_URL}}{{attachment}}"  style='float: left'><img src="{{STATIC_URL}}img/pdf.png" width=96 height=96></a>
		    {% else %}
		    <a href=""  style='float: left'><img src="{{STATIC_URL}}img/img.png" width=96 height=96></a>
		{% endif %}
		<div style=''>
		    <span onclick="delete_file_confirm({{ attachment.id }})" class="btn btn btn-primary" style='margin-bottom: 20px' >DELETE</span>
		    <a class="btn btn btn-primary" href="/download/{{attachment.id}}">Download</a>
		</div>	
		</div>
		{% endfor %}
		</div>
		{% else %}
		    <p>No attachements found here</p>
	    {% endif %}
	

    </div>
  
        <p> <a class="btn btn-medium" href="/edittask/{{ task.id }}">Edit</a>
            <a class="btn btn-medium" href="/projecttasks/{{task.project_id}}">Back</a>
        </p>

    </div>
{% endblock content %}

